/* src/components/Body/Body.css */
body {
  font-family: 'Arial', sans-serif;
  background: url('https://images.squarespace-cdn.com/content/v1/5f42f0a79f9f8d5592cba4f8/45490637-8634-470b-a073-8b8b4fde89f2/IMG_7112.JPG') no-repeat center center fixed;
  background-size: cover;
  padding: 10px; /* Adjust padding for smaller devices */
  color: black;
}

h2 {
  font-size: 1.8rem; /* Decrease font size for smaller devices */
  margin-bottom: 15px;
  text-align: left !important;
  color: #5e5a38;
}

span {
  background-color: #d8f864;
  padding: 8px; /* Adjust padding for smaller devices */
  border-radius: 6px;
  font-weight: bold;
  color: #000;
}

.card {
  display: flex;
  border: none;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 15px; /* Adjust margin for smaller devices */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.6);
}

.card-image {
  width: 100%; /* Make image width 100% to adapt to smaller screens */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover;
}

.card-content {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.card-title {
  font-size: 1.3rem; /* Decrease font size for smaller devices */
  margin-bottom: 8px;
  color: #ffeb3b;
}

.card-text {
  font-size: 0.9rem; /* Decrease font size for smaller devices */
  color: #eee;
}

.card-text li {
  font-size: 0.9rem;
  color: #eee;
  margin-right: 15px; /* Adjust margin for smaller devices */
}

.welcome-text {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 8px; /* Adjust padding for smaller devices */
  border-radius: 5px;
  color: #000;
}
