/* src/components/Connect/Connect.css */
.social-icons {
  display: flex;
  flex-direction: column; /* Align icons vertically */
  gap: 20px;
  margin-top: 20px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9); /* White transparent background */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.social-icons a {
  text-decoration: none;
  display: flex; /* Align items horizontally */
  align-items: center; /* Center items vertically */
}

.social-icons svg {
  margin-right: 10px; /* Add margin between icon and text */
  transition: color 0.3s ease;
}

.social-icons svg:hover {
  color: #ffeb3b; /* Change the color on hover to yellow (#ffeb3b) */
}

@media screen and (max-width: 768px) {
  .social-icons {
    margin-top: 15px;
    padding: 15px; /* Adjust padding for smaller screens */
  }

  .social-icons svg {
    width: 24px;
    height: 24px;
    margin-right: 0; /* Remove margin for smaller screens */
  }
}
